.carousel-container {
    border: none;
    position: relative;
    width: 280px;
    height: 200px;
    margin: 24px auto 0px auto;
    perspective: 1000px;
  }
.carousel-button-holder {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #191919;
    z-index: 100;
}

.dark-round-button {
    background-color: none;
    color: rgb(178, 177, 177);
    border: none;
    font-size: 1.5rem;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-image: url('../../public/assets/dark-button-round.svg');
    background-position: center center; 
    background-repeat: no-repeat;
    cursor: pointer;
}

.dark-round-button:hover {
    color: rgb(38, 125, 206);
    text-shadow: rgb(58, 150, 236) 1px 1px 20px;
}

.dark-round-button:active {
    color: rgb(62, 196, 25);
    text-shadow: rgb(100, 234, 63) 1px 1px 20px;
}
